// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

    .nav-link {

        font-size: 0.9em;
        
        }
    .navbar-brand {
        max-width: 225px;
    }
    #logo img{
        display:inline-flex;
        margin: 0 auto;
        width:225px;
      }

      .dropdown-item {
        font-size:0.8rem;
        display: block;
        width: 100%;
        padding: 0.1rem 0.5rem;
      }

 }

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) { 

    .navbar-brand {
        max-width: 250px;
    }
   
    #logo img{
        display:inline-flex;
        margin: 0 auto;
        width:250px;
      }

      .nav-link {

        font-size: 0.9em;
        
        }
      .dropdown-item {
        font-size:1rem;
        display: block;
        width: 100%;
        padding: 0.1rem 0.5rem;
      }

 }

// Large devices (desktops, 992px and up)

@media (min-width: 992px) { 
    .nav-link {

        font-size: 1.2em;
        
        }

        
          .dropdown-item {
            font-size:1.4rem;
            display: block;
            width: 100%;
            padding: 0.2rem 0.5rem;
          }

    .navbar-brand {
        max-width: 300px;
    }
    #logo img{
        display:inline-flex;
        margin: 0 auto;
        width:300px;
      }


 }

// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1200px) { 

    .nav-link {

        font-size: 1.6em;
        
        }

    .navbar-brand {
        max-width: 350px;
    }
    #logo img{
        display:inline-flex;
        margin: 0 auto;
        width:350px;
      }

 }