@import url('https://fonts.googleapis.com/css?family=Raleway');

$site-font: 'Raleway', sans-serif;
$dark: #2b4677;
$light: #fff;
$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
$bnp-blue:#3E92CC;
$dropdown-link-color: $light;
$dropdown-hover-color: $dark;
$dropdown-link-hover-bg: yellow;
$dropdown-bg: $dark;
$dropdown-link-active-color: yellow;
$dropdown-link-disabled-color: red;
$dark-scarlet: #630a16;
$dropdown-header-color: $dark;